# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                                                 #
# ███████╗███████╗██╗  ██╗    ██╗     ███████╗ ██████╗  █████╗  ██████╗██╗   ██╗  #
# ██╔════╝██╔════╝╚██╗██╔╝    ██║     ██╔════╝██╔════╝ ██╔══██╗██╔════╝╚██╗ ██╔╝  #
# █████╗  ███████╗ ╚███╔╝     ██║     █████╗  ██║  ███╗███████║██║      ╚████╔╝   #
# ██╔══╝  ╚════██║ ██╔██╗     ██║     ██╔══╝  ██║   ██║██╔══██║██║       ╚██╔╝    #
# ███████╗███████║██╔╝ ██╗    ███████╗███████╗╚██████╔╝██║  ██║╚██████╗   ██║     #
# ╚══════╝╚══════╝╚═╝  ╚═╝    ╚══════╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝ ╚═════╝   ╚═╝     #
#               Discord: https://discord.gg/kwYdXC4wzb                            #
#             Documentation: https://docs.esx-framework.org                       #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 

# Ne changez l'adresse IP que si vous utilisez un serveur avec plusieurs interfaces rÃ©seau, sinon ne changez que le port.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Anti-DDOS
set sv_requestParanoia 3
sv_endpointprivacy true
sv_forceIndirectListing true
sv_useDirectListing true
sv_authMinTrust 4

# FiveM
sets sv_projectName ""
set sv_hostname ""
sets sv_projectDesc ""

sets banner_detail "url_here"
sets banner_connecting "url_here"
load_server_icon 96x96.png

set steam_webApiKey 
sv_licenseKey "" #-NPC-Hostage
sv_maxclients 32


set mysql_connection_string ""
set mysql_ui true
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync legacy
sv_scriptHookAllowed 0
set sv_listingIPOverride "IP ADRESS (without port)"

sv_enforceGameBuild 2699

## These resources will start by default.
ensure spawnmanager
ensure sessionmanager
ensure chat
ensure hardcap

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

## Default & Standalone resources
ensure chat-theme-gtao # Cool Chat theme
ensure oxmysql

## ESX Legacy
ensure es_extended
ensure [essential]

## ESX
ensure [esx]

#################################
######## CHARACTER CREATOR ########
#################################
ensure esx_identity
ensure skinchanger
ensure esx_skin

## Ressources
exec resources.cfg

